{% extends 'Base/base_index.html' %}
{% block title %} About {% endblock %}
        <!-- Navigation-->
{% block content %}
        <!-- Page Header-->
        <!--header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header-->
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>Renzo Duarte Bubschiazo</h2>
                        <p>Hola soy Renzo Duarte Buschiazzo, tengo 31 años, vivo en Argentina en la provincia de Buenos Aires,estoy realizando el curso de Python de CoderHouse y en este proyecto final hemos creado este blog, espero que les guste ya que para mi tambien fue un desafio grande porque es mi primer proyecto en Python.</p>
                        <h2>Reinaldo Loyo Sequera</h2>
                        <p>Hola soy Reinaldo Loyo, tengo 38 años soy de Venezuela y realizamos junto a mi compañero Renzo este grandioso blog!. Es un desafio grande para nosotros ya que no presento experiencia alguna en este lenguaje (Python). Espero que lo disfruten!  </p>
                        
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                   
                </div>
            </div>

   {% endblock %}

