{% extends 'Base/base_index.html' %}
{% block title %} Crear Articulos {% endblock %}
{% block subtitle %} Proyecto Final {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    
<form method="post">
  {% csrf_token %}
  {{ form |crispy }}
  <button class="btn btn-primary" type="submit">Enviar</button>
</form>
</div>
{% else %}
<p>Debes Loguearte</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}