{% extends 'Base/base_index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
 
    <!-- Security token -->
    {% csrf_token %}
    {% if user.is_authenticated %}
         Hi {{ user.username }}!
    <!-- Using the formset -->
    <div class="form-control container">
        {{ form | crispy }}
    </div>
    {% else %}
    <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
     
    <input class="btn btn-primary"    type="submit" value="Enviar">
    </form>
</div>
{% endblock %}